nav{
    
    .brand-logo{
        margin-left: 10px;
        .logo-title{
            font-size: 30px;
            margin-left: 5px;
        }
    }

    .nav-image {
        width: 50px;
        margin-top: 8px;
    }
}