<div class="card yellow lighten-3">
  <div class="card-content">
    <div class="row">
        <h4>We're sorry, but something went wrong.</h4>
      </div>
      <div class="row">
        <p>If you are the application owner check the logs for more information.</p>
      </div>
    </div>
  </div>
</div>
