<div class="card yellow lighten-3">
  <div class="card-content">
    <div class="row">
        <h4>The change you wanted was rejected.</h4>
      </div>
      <div class="row">
        <p>Maybe you tried to change something you didn't have access to.</p>
      </div>
      <div class="row">
        <p>If you are the application owner check the logs for more information.</p>
      </div>
    </div>
  </div>
</div>
